:root {
    --cor0: #5d86eece;
    --cor1: #1552EB;
    --cor2: #1140B8;
    --cor3: #243E80;
    --cor4: #061742;
}

body {
    background-color: var(--cor0);
}

header > a {
    display: flex;
    background-color: var(--cor0);
    color: white;
    text-decoration: none;
    justify-content: end;
    max-width: 800px;
    margin: 20px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.26);
}

main {
    background-color: white;
    min-width: 320px;
    max-width: 750px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.26);
}

section#jubarte {
    text-align: center;
}

section#orca {
    text-align: center;
}

img {
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.26);
}

main > section > h1 {
    color: var(--cor4);
    display: flex;
    justify-content: center;
}

main > section > h2 {
    color: var(--cor4);
    display: flex;
    justify-content: center;
}

main > section >  p {
    display: flex;
    text-align: justify;
}

footer{
    display: flex;
    background-color: white;
    justify-content: center;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.26);
}
