:root {
    --cor0: #80a2f7dc;
    --cor1: #275fec98;
    --cor2: #1140b8;
    --cor3: #243E80;
    --cor4: #061742;
}

*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
}

header {
    display: flex;
    background-color: var(--cor1);
    height: 100px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.26);
}

header > a {
    display: flex;
    background-color: var(--cor0);
    color: white;
    text-decoration: none;
    justify-content: center;
    justify-self: end;
    align-self: end;
    margin: 0px 0px 20px 10px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.26);
}

header > h1 {
    color: white;
    border-radius: 10px;
    margin: auto;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.26);
}

header > a:hover {
    background-color: var(--cor2);
    transition-duration: .5s;
}

main {
    background-color: white;
    min-width: 320px;
    max-width: 750px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.26);
}

section {
    text-align: center;
    padding: 10px;
}

section#intro {
    background-color: var(--cor);
    border-radius: 10px 10px 0px 0px;
}

section#intro > h1 {
    display: flex;
    color: white;
    background-color: var(--cor4);
    justify-content: center;
    padding: 3px;
    border-radius: 10px;
}


main > section > h2 {
    display: flex;
    color: white;
    background-color: var(--cor4);
    justify-content: center;
    padding: 3px;
    border-radius: 10px;
}

main > section >  p {
    display: flex;
    text-align: justify;
    padding: 5px;
    margin: 5px;
}

img {
    padding: 10px;
    margin: 30px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.26);
}

footer{
    display: flex;
    justify-content: center;
  
}

footer > p {
    display: flex;
    background-color: white;
    justify-content: center;
    width: 750px;
    padding: 8px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.26);
}
